* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #11151C;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
.container{
  max-width: 1336px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}